<header>
    <nav>
        <a href="/">MyBrary</a>
        <ul>
            <li><a href='/authors'>Author list</a></li>
            <li><a href='/authors/new'>Add Author</a></li>
        </ul>
    </nav>
</header>